ion-header.header{
    --ion-background-color: #ffffff;

}
ion-tabs{
    --ion-background-color: #ffffff;
}
ion-tab-button {
    /* Normal state styles */
    background-color: #ffffff; /* Your default background color */
color: #333333; /* Your default text color */
    border: none;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add any other necessary styles */
}

ion-tab-button:hover {
    
    background-color: #0c3b2E;
    color: white;
    transform: scale(1.05); /* Scale effect on hover */
}
