ion-input{
    font-family:"Poppins","sans-serif";
    padding: 20px;
    
}
ion-button{
    display: flex;
    text-align: center;
    justify-content: center;
    --ion-color-secondary: #0c3b2E;
    font-family: "Poppins", "sans-serif";

}